* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

header {
    background-color: #202020;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.header_start {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.menu-hamburger, .logo {
    margin: 0 12px;
}

.logo img {
    width: 82px;
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 107px;
}

.pesquisa img {
    width: 30px;
    position: absolute;
    right: 40%;
    margin: 6px -4px;
}

.pesquisa input[placeholder] {
    padding: 5px;
    font-size: 100%;
}

.inp-text {
    background-color: #181818;
    border-style: none;
    border: 1px solid #3F434C;
    width: 570px;
    height: 28px;
}

.btn-pesq {
    width: 60px;
    height: 28px;
    float: right;
    background-color: #3F434C;
    border: none;
    cursor: pointer;
}

.fa {
    color: #989898;
}

main {
    background-color: #181818;
}

/* 
Cores de fundo:
    Header: #202020
    Main: #181818
    Pesquisa: #3F434C
    
Cores dos letras:
    Títulos: #FFFFFF
    Youtuber, Visualizações e tempo: #AAAAAA
*/