/* 
Cores de fundo:
    Header: #202020
    Main: #181818
    Pesquisa: #3F434C
    
Cores dos letras:
    Títulos: #FFFFFF
    Youtuber, Visualizações e tempo: #AAAAAA
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
}

header {
    position: relative;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #202020;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.header_start {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* #check {
    display: none;
} */

.menu-hamburger, .logo {
    margin: 0 0 0 25px;
}

.logo img {
    width: 82px;
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 107px;
}

.pesquisa img {
    width: 30px;
    position: absolute;
    right: 40%;
    margin: 6px 7px;
}

.pesquisa input[placeholder] {
    padding: 5px;
    font-size: 100%;
}

.inp-text {
    background-color: #181818;
    border-style: none;
    border: 1px solid #3F434C;
    width: 570px;
    height: 28px;
}

.btn-pesq {
    width: 60px;
    height: 28px;
    float: right;
    background-color: #323232;
    border: none;
    cursor: pointer;
}

.pesquisa .fa {
    color: #585858;
}

.header_end {
    display: flex;
    justify-self: self-end;
    align-items: center;
}

.end-icons {
    padding: 0 30px 0 0;
    font-size: 0.9rem;
}

.icon-user {
    width: 30px;
    border-radius: 20px;
}

.icon-ytbr {
    margin: 5px 0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

main {
    display: grid;
    background-color: #181818;
    grid-template-columns: 13% 87%;
    margin-top: 56px;
}

.menu_lateral {
    position: fixed;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    width: auto;
}



.lateral {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 94vh;
    width: max-content;
    overflow: auto;
    background-color: #202020;
}

.lateral::-webkit-scrollbar-track {
    background-color: #202020;
}
.lateral::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
.lateral::-webkit-scrollbar-thumb {
    background: #313131;
}

.principal {
    font-size: 0.9rem;
}

.principal a {
    padding: 0 0 0 60px;
    height: 40px;
    display: flex;
    align-items: center;
}

.icon-user-lateral {
    position: absolute;
    width: 25px;
    border-radius: 20px;
    left: 20px;
}

.inscricoes, .mais_ytb {
    padding: 0 24px 0;
}

.hr {
    border-top: 1px solid #313131;
    margin: 15px;
}

.principal a:hover {
    font-weight: bold;
    background-color: #313131;
}

.empresa {
    font-size: 0.8rem;
    font-weight: 500; /* Colocando uma expessura maior na font pela numeração do site expecificado */
}

.empresa a {
    padding: 0;
    width: 0;
    height: auto;
    margin-right: 8px;
    color: #CFCFCF;
}

.sobre {
    padding: 16px 24px 0;
}

.termo {
    padding: 12px 24px 0;
}

.conteudo {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 25px;
}

.conteudo-video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
    margin-right: 80px;
}

.video {
    margin-bottom: 75px;
    margin-right: 15px;
}

.video iframe {
    height: 200px;
    width: 360px;
}

.youtuber p {
    padding: 5px 0 0 4px;
    font-weight: 500;
}

.video small  {
    margin-left: 45px;
    color: #AAAAAA;
    font-size: 0.9rem;
}

.video a {
    color: #AAAAAA;
}

.video a:hover {
    font-weight: normal;
    color: #FFFFFF;
}

.youtuber {
    display: flex;
    max-width: 360px;
}

.footer {
    padding: 22px 48px 0;
}

@media only screen and (max-width: 1360px) {
    .header_center {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 0;
    }
    
     .pesquisa img {
        width: 20px;
        right: 33%;
        margin: 8px -10px;
        color: #CFCFCF;
        cursor: pointer;
    }

    .header_end {
        display: flex;
        justify-self: self-end;
        align-items: center;
    }

    .end-icons {
        padding: 0 15px;
    }

    .header_end img {
        width: 30px;
        border-radius: 20px;
    }

  }