* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', Arial, sans-serif;
    max-width: 100vw;
    max-height: 100vh
}
/* Header */
header {
    position: relative;
}
.header {
    width: 100%;
    height: 9%;
    position: fixed;
    /* top: 0; */
    background-color: #202020;
    /* display: grid; */
    /* grid-template-columns: 25% 50% 25%; */
}
/* Área da Logo */
.header_start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    float: left;
}
.logo img, .header_start label {
    width: 40%;
    margin-left: 10%;
}
/* Inputs */
.header_start input, .header_end input {
    display: none;
}
/* Área central */
.header_center {
    width: 60%;
    float:left;
    height: 100%;
}
.pesquisa img {
    width: 1.5%;
    position: absolute;
    right: 34%;
    margin: 1.7% 0 0 0;
}
.pesquisa input[placeholder] {
    padding: 0.5%;
    margin: 1.9% 0 0 8%;
    font-size: 100%;
    width: 70%;
}
.inp-text {
    background-color: #181818;
    border-style: none;
    border: 1px solid #3F434C;
}
.btn-pesq {
    width: 8%;
    padding: 0.8%;
    background-color: #323232;
    border: none;
    cursor: pointer;
}
.pesquisa .fa {
    color: #585858;
}
/* Área do usuario */
.header_end {
    width: 20%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.end-icons {
    margin-right: 12%;
    font-size: 0.9rem;
}
.icon-user {
    width: 95%;
    border-radius: 20px;
}
/* Menu lateral menor */
#lateral_menor {
    display: block;
    margin-top: 6%;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: max-content;
    overflow: auto;
    background-color: #202020;
}
#lateral_menor li {
    font-size: 0.6rem;
    display: grid;
    justify-items: center;
}
#lateral_menor a {
    padding: 17px 14px;
    display: grid;
    justify-items: center;
}
.icons_menu_menor {
    width: 20px;
    margin-bottom: 10px;
}
/* Menu lateral maior */
#menu_lateral {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    width: auto;
}
/* #lateral, 
#menu_lateral {
    display: flex;
} */
#lateral {
    flex-direction: column;
    margin-top: 6%;
    position: fixed;
    height: 94%;
    width: max-content;
    overflow: auto;
    background-color: #202020;
}

.lateral::-webkit-scrollbar-track {
    background-color: #202020;
}

.lateral::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}

.lateral::-webkit-scrollbar-thumb {
    background: #313131;
}
.principal {
    font-size: 0.9rem;
    padding-top: 10px;
}

.principal a {
    padding: 0 0 0 60px;
    height: 40px;
    display: flex;
    align-items: center;
}

.icon-user-lateral {
    position: absolute;
    width: 25px;
    border-radius: 20px;
    left: 8%;
}

.inscricoes, .mais_ytb {
    padding: 0 24px 0;
}

.hr {
    border-top: 1px solid #313131;
    margin: 15px 0 15px 0;
}

.principal a:hover ,#lateral_menor li:hover {
    font-weight: bold;
    background-color: #313131;
}

.empresa {
    font-size: 0.8rem;
    font-weight: 500; /* Colocando uma expessura maior na font pela numeração do site expecificado */
}

.sobre a, .termo a {
    font-weight: 200;
    font-size: small;
    float: left;
    padding: 0 5% 0 0;
    /* width: 100%; */
    height: 48%;
    /* margin-right: 8px; */
    color: #CFCFCF;
}

.sobre {
    padding: 2% 0 0 10%;
}

.termo {
    padding: 2% 0 0 10%;
    margin-top: 10%;
}
.footer {
    margin: 5% 0;
    float: left;
}
/* .icon-ytbr {
    margin: 5px 0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
} */

/* Acima de 980 o tamanho das letras no menu lateral param de crescer e permanecem do tamanho em diante. */