* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

header {
    background-color: #202020;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.header_start {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.menu-hamburger, .logo {
    margin: 0 12px;
}

.logo img {
    width: 80px;
}

.pesquisa {
    display: flex;
    align-content: center;
/*     grid-column-start: 2;
    grid-column-end: 3; */
}

.inp-text {
    background-color: #181818;
    border-style: none;
    border: 1px solid #3F434C;
    width: 500px;
    height: 28px;
}

main {
    background-color: #181818;
}

/* 
Cores de fundo:
    Header: #202020
    Main: #181818
    Pesquisa: #3F434C
    
Cores dos letras:
    Títulos: #FFFFFF
    Youtuber, Visualizações e tempo: #AAAAAA
*/