* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Cores de fundo:
    Header: #202020
    Main: #181818
    
Cores dos letras:
    Títulos: #FFFFFF
    Youtuber, Visualizações e tempo: #AAAAAA
*/